@{
    //aqui é um bloco onde pode ser aceito codigos do c#
    // if x >= 0 faça
    //
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno @ViewData["Aluno"]</p>

<address>
    <strong> Mais Informações: </strong> <a href="http://sendersantos.com.br">sendersantos.com.br</a>
</address>




